<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.day04.mapper.DepartmentPositionMapper">
    <select id="findByDepartmentId" resultType="DepartmentPosition">
        SELECT * FROM department_positions WHERE department_id = #{departmentId}
    </select>

    <select id="findByDepartmentIds" resultType="DepartmentPosition">
        SELECT DISTINCT dp.*
        FROM department_positions dp
        WHERE dp.department_id IN
        <foreach collection="departmentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
