<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.day04.mapper.EmployeeMapper">
    <select id="searchPage" resultType="Employee">
        SELECT * FROM employee
        <where>
            <if test="criteria.name != null and criteria.name != ''">
                AND name LIKE CONCAT('%', #{criteria.name}, '%')
            </if>
            <if test="criteria.gender != null and criteria.gender != ''">
                AND gender = #{criteria.gender}
            </if>
            <if test="criteria.department != null and criteria.department != ''">
                AND department LIKE CONCAT('%', #{criteria.department}, '%')
            </if>
            <if test="criteria.position != null and criteria.position != ''">
                AND position LIKE CONCAT('%', #{criteria.position}, '%')
            </if>
            <if test="criteria.minSalary != null">
                AND salary &gt;= #{criteria.minSalary}
            </if>
            <if test="criteria.maxSalary != null">
                AND salary &lt;= #{criteria.maxSalary}
            </if>
            <if test="criteria.minEntryDate != null">
                AND entry_date &gt;= #{criteria.minEntryDate}
            </if>
            <if test="criteria.maxEntryDate != null">
                AND entry_date &lt;= #{criteria.maxEntryDate}
            </if>
        </where>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM employee
        <where>
            <if test="criteria.name != null and criteria.name != ''">
                AND name LIKE CONCAT('%', #{criteria.name}, '%')
            </if>
            <if test="criteria.gender != null and criteria.gender != ''">
                AND gender = #{criteria.gender}
            </if>
            <if test="criteria.department != null and criteria.department != ''">
                AND department LIKE CONCAT('%', #{criteria.department}, '%')
            </if>
            <if test="criteria.position != null and criteria.position != ''">
                AND position LIKE CONCAT('%', #{criteria.position}, '%')
            </if>
            <if test="criteria.minSalary != null">
                AND salary &gt;= #{criteria.minSalary}
            </if>
            <if test="criteria.maxSalary != null">
                AND salary &lt;= #{criteria.maxSalary}
            </if>
            <if test="criteria.minEntryDate != null">
                AND entry_date &gt;= #{criteria.minEntryDate}
            </if>
            <if test="criteria.maxEntryDate != null">
                AND entry_date &lt;= #{criteria.maxEntryDate}
            </if>
        </where>
    </select>

    <delete id="delete">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <insert id="insert">
        INSERT INTO employee (name, gender, department, position, salary, entry_date, last_operation_time)
        VALUES (#{name}, #{gender}, #{department}, #{position}, #{salary}, #{entryDate}, NOW())
    </insert>

    <update id="edit">
        UPDATE employee
        SET name = #{employee.name},
            gender = #{employee.gender},
            department = #{employee.department},
            position = #{employee.position},
            salary = #{employee.salary},
            entry_date = #{employee.entryDate},
            last_operation_time = NOW()
        WHERE id = #{id}
    </update>
</mapper>
